.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(3, 8, 18);
    padding: 1rem 0rem;
    color: white;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
}
.nav-brand {
    flex-basis: 20%;
    margin-left: 1rem;
}
.nav-title {
    font-size: 20px;
    letter-spacing: 5px;
}

.nav-search {
    display: flex;
    flex-basis: 50%;
    gap: 1rem;
    margin-left: -8rem;
}

.search {
    flex-basis: 90%;
    align-self: center;
    padding: 0.2rem;
    height: 35px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: large;
    box-shadow: 0px 2px 10px black;
    padding: 2%;
}

.search:hover {
    cursor: pointer;
    font-size: larger;
    padding: 2%;
}

.search:focus {
    box-shadow: 0px 2px 8px white;
    cursor: text;
}

.search-btn {
    flex-basis: 10%;
    height: 35px;
    align-self: center;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #1363ed;
}


.nav-theme-btn {
    display: flex;
    margin-right: 2rem;
}
.theme-btn {
    align-self: center;
    border-radius: 6px;
}