:root {
    /* dark theme */
    --dark-blue : rgb(5, 15, 34); 
    --grey-blue : rgb(29, 37, 52);
    --grey : rgb(126, 134, 139);
    --blue-btn : #1363ed;
    --alternative-white : white;
    --alternative-black : black;
    --search-hover : rgb(51, 65, 90);
}

[data-theme='light'] {
    /* light theme */
    --dark-blue : rgb(26, 83, 189); 
    --grey-blue : rgb(210, 217, 229);
    --grey : rgb(126, 134, 139);
    --blue-btn : #0a1830;
    --alternative-white : rgb(0, 0, 0);
    --alternative-black : rgb(255, 255, 255);
    --search-hover : #f0f8ff;
}

#app-wrapper {
    background-color: var(--grey-blue);
}