body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: inherit; /* Change this to the color you want for the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--grey); /* Change this to the color you want for the scrollbar thumb */
    border-radius: 20px;
  }
  
  /* Firefox */
  /* Please note that the 'scrollbar-color' property is currently only supported in Firefox */
  .scrollable-content {
    scrollbar-color: #888 #f1f1f1;
  }
  